.field {
	margin: 20px 0;
}

.error {
	color: #e2401c;
}

.success {
	color: #1155cc;
}

label {
	display: block;
}

input, textarea {
	display: block;
	max-width: 600px;
	width: 100%;
}

button {
	padding: 10px;
}

.required {
    border-bottom: 0 !important;
    color: #e2401c;
}

.enquiry-form-wrapper {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.enquiry-list-wrapper {
	max-width: 1024px;	
	margin-left: auto;
	margin-right: auto;	
}

.enquiry-form-wrapper .success, .enquiry-form-wrapper .error {
	text-align: center;
}

.enquiry-list .enquiry-field-title, .enquiry-list .enquiry-item {
	display: flex;
	flex-wrap: wrap;
	border-bottom: solid 1px #000;
	padding: 10px 0;	
}

.enquiry-list .enquiry-item {
	cursor: pointer;
}

.enquiry-list .enquiry-field-title > div, .enquiry-list .enquiry-item > div {
	width: 25%;
	text-align: center;
}

.enquiry-list .enquiry-field-title {
	font-weight: 700;
}

.inquiry-pagination {
	margin: 20px 0;
	text-align: center;
}

.inquiry-pagination .page-numbers {
	list-style: none;
}

.inquiry-pagination .page-numbers li {
	display: inline;
	margin: 0 5px;
}

.inquiry-pagination .page-numbers li > a, .inquiry-pagination .page-numbers li > span {
	padding: 5px;
}

.enquiry-info {
	width: 100%;
	display: none;
	margin: 20px 0;
}

.enquiry-info .field {
	display: flex;
}

.enquiry-info .field .field-name {
	margin-right: 10px;
	min-width: 120px;
}